.ex-head-cont{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 2rem;
}
.normal-span{
    font-size: 3rem;
    font-style: italic;
}
.cards-container{
    display: flex;
    width: 95%;
    margin: auto;
    gap: 1rem;
}
.card-one{
    background-color: rgb(128,128,128);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2em;
    color: #ffffff;
    font-size: .9rem;
    flex: 1;
}
.card-one:first-child{
    color: #ffffff;
}
.card-one:hover{
background-image: var(--planCard);
}
svg{
    color: #ffffff;
}
.ex-header{
font-size: 1rem;
font-weight: 800;
}
.ex-detailes{
    line-height: 1.4rem;
    font-weight: lighter;
}
.join-now{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.join-now>span{
font-size: 1rem;
font-weight: lighter;
}
.join-now>img{
width: 1rem;
}
path{
    fill:#ffffff;
}