.plans-head-cont{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 2rem;
}
.plan-cards-cont{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.gray-card{
width: 30%;
margin-top: 1.5rem;
height: 30rem;
background-color: rgb(101,101,101);
}
.orange-card{
width: 33%;
height: 33rem;
background-image: var(--planCard);
}